
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="https://github.com/rafaelherrera7.png" alt="..." class="card-img-top">
                <h5 class="card-body">
                    Lorem ipsum dolor sit.
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, commodi.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="https://github.com/rafaelherrera7.png" alt="..." class="card-img-top">
                <h5 class="card-body">
                    Lorem ipsum dolor sit.
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, commodi.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="https://github.com/rafaelherrera7.png" alt="..." class="card-img-top">
                <h5 class="card-body">
                    Lorem ipsum dolor sit.
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, commodi.
                </p>
            </div>
        </div>
    </div>
</div>
